*{
    padding:0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}
body{
    font-family: 'open sans';
}


nav{
    background: #6D98D7 ;
    height:80px;
    width: 100%;
    position: fixed;
    background: #005AA7;
    /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, hsla(55, 100%, 95%, 0.314), hsla(208, 100%, 33%, 0.451)), url(fondo2.jpg); 
   /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, hsl(55, 100%, 95%, 0.274), hsl(208, 100%, 33%, 0.451)), url(fondo2.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
  background-size: cover;
  background-attachment: fixed;
}
header{
    width: 100%;
    height:  calc(100vh - 80px);
    background: #005AA7;
      /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(55, 100%, 95%, 0.314), hsla(208, 100%, 33%, 0.451)), url(fondo2.jpg); 
     /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsl(55, 100%, 95%, 0.274), hsl(208, 100%, 33%, 0.451)), url(fondo2.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

    text-align: right;
    padding: 30px 50px 0 0;
    font-size: 18px ;
 
}
header > a{
    padding: 30px 50px 0 0;
    color: white;
    font-weight: 300;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
header a.active, a:hover{
    background: #2F4E7C;
    transition: .5s;
    border-radius: 3px;

}
.viosa{
    height: 400px;
    
    display: flex;

    justify-items: center;
    align-items: center;

}
#vio{
    margin:0vh auto;
}




.wave{
    position: absolute;
    bottom: 0;
    width: 100%;

}
.enlace{
    position: absolute;
    padding: 20px 50px;
    
}
.logo{
    height: 40px;

}
nav ul{
    float:  right;
    margin-right: 20px;
}
nav ul li{
    display:inline-block; 
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;

}
li a.active, li a:hover{
    background: #2F4E7C;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


footer{
    background: #3e577e;
    
}
.content-foo1 .faceb{

    text-decoration: none;
    display: inline-flex;
    transition: none;   
}

.faceb{

    float: right;
    text-decoration: none;
    width: 70px;
    font-weight: 300;
}
footer .content-foo1 .pf .faceb:hover{
    transition: 5s;
    background: hsla(0, 0%, 0%, 0.959);
    border-radius: 50px;    

}
.contenedor-footer{
    margin: 20px 20px;
    color: #e8eff5;

}
.content-foo2{
    display: inline;
    text-align: left;
}
.content-foo3{
    display: inline;
    text-align: left;
}
.content-foo4{
    display: inline;
    text-align: left;
}
main{

    min-height: 100vh;
    width: 100%;


    
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-items: center;
    align-items: center;
    display: flex;


}
.caj{
border-style: solid;
border-color: black;
border-width: 3px;
border-spacing: auto; 
border-radius: 1em;
height: 400px;
    margin: auto;
    padding: 3.5em 1.5em;

    width: 90%;
    max-width: 600px;
}
.caj_c{
    width: 100%;
    display: grid;
    gap: .001em;
    grid-auto-columns: 100% ;


}
.caj-f{
    font: optional;
    font-size: 20px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-spacing: auto; 
    border-radius: 5px;
}
.caj-mensaje{
    padding: 3px 4px;
    resize:none;
    height: 100px;
    font: optional;
    font-size: 20px;
    border-style: solid;
    border-color: black;
    border-spacing: auto;
    border-width: 1px;
    border-spacing: auto; 
    border-radius: 1em;
}
h1{
    text-align: center;
    font-size: 40px;
}
.boton{
    background-color: #aed3f3;
    border-radius: 15px;
    border-color:#aed3f3;
    ;
    font-size: 20px;

}
.boton:hover{
    background-color: #92afc9 ;
    cursor: pointer;
    transition: 1s;
}





@media (max-width: 952px){
    .viosa{
        height: 300px;
    }

    header > a{
        font-size: 16px;
    }

    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media(max-width:858px){
    .checkbtn{
       display: block;
    }
    .viosa{
        height: 200px;

    }
    header > a{
        font-size: 12px;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #C0A063;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: white;
    } 
    #check:checked ~ ul {
        left: 0;

    }
    li a.active, li a:hover{
        background: #302209;
        transition: .5s;
    }
}
